

extends ../layouts/main

block content
    .slider-wrapper.theme-default
        .nivoSlider#slider
            img(src="./img/slider/at/1.jpg" alt="")
            img(src="./img/slider/at/2.jpg" alt="")
            img(src="./img/slider/at/3.jpg" alt="")
            img(src="./img/slider/at/4.jpg" alt="")
            img(src="./img/slider/at/5.jpg" alt="")
    .page-layout
        h1.h3 Ведущие мероприятий
        hr
    //landing start
    .landing
        .landing-promo.landing-promo_style_2
            .landing-promo__content
                .landing-promo__title.text.text_pink ЧТО ТАКОЕ СВАДЬБА?
                div
                    p #эмоции
                    p #чувства
                    p #улыбки
            .landing-promo__bottom ВСЕ ДОЛЖНО БЫТЬ БЕЗУПРЕЧНО!
        
        h3.landing__title.tac.page-layout
            span.text МЫ ПОМОЖЕМ ОРГАНИЗОВАТЬ 
            span.text_pink СВАДЬБУ МЕЧТЫ 

        .landing-list.landing-list_fix-icon-size.page-layout
            .landing-list__item
                .landing-list__icon
                    img(src="/img/landings/list/2.png")
                .landing-list__text ИНТЕЛЛИГЕНТНЫХ ВЕДУЩИХ ПРИЯТНОЙ ВНЕШНОСТИ С БОЛЬШИМ КОЛИЧЕСТВОМ ИНТЕРЕСНЫХ ИДЕЙ

            .landing-list__item
                .landing-list__icon
                    img(src="/img/landings/list/05.png")
                .landing-list__text НЕ МЕНЕЕ СИМПАТИЧНЫЙ ДИДЖЕЙ С КАЧЕСТВЕННОЙ АППАРАТУРОЙ И ОГРОМНОЙ МЫЗЫКАЛЬНОЙ БАЗОЙ

            .landing-list__item
                .landing-list__icon
                    img(src="/img/landings/list/02.png")
                .landing-list__text АРТИСТЫ РАЗЛИЧНЫХ ЖАНРОВ


            .landing-list__item
                .landing-list__icon
                    img(src="/img/landings/list/06.png")
                .landing-list__text ЖИВАЯ МУЗЫКА НА МЕРОПРИЯТИИ


            .landing-list__item
                .landing-list__icon
                    img(src="/img/landings/list/03.png")
                .landing-list__text ИНДИВИДУАЛЬНЫЙ ПОДХОД И УДОВЛЕТВОРЕНИЕ ПОЖЕЛАНИЙ КЛИЕНТА ПО ПРОВЕДЕНИЮ ТОРЖЕСТВА

            .landing-list__item
                .landing-list__icon
                    img(src="/img/landings/list/07.png")
                .landing-list__text СОВРЕМЕННЫЕ КОНКУРСЫ БЕЗ ПОШЛОСТИ, КОТОРЫЕ БУДУТ ИНТЕРЕСНЫ ЛЮДЯМ РАЗНОГО ПОКОЛЕНИЯ

            .landing-list__item
                .landing-list__icon
                    img(src="/img/landings/list/04.png")
                .landing-list__text СЮРПРИЗЫ ДЛЯ ГОСТЕЙ И ВИНОВНИКОВ ТОРЖЕСТВА

            .landing-list__item
                .landing-list__icon
                    img(src="/img/landings/list/08.png")
                .landing-list__text МНОЖЕСТВО ПОЗИТИВНЫХ ЭМОЦИЙ И ИСКРЕННИХ УЛЫБОК



        .landing-steps
            .landing-steps__inner
                .landing-steps__title ПЯТЬ ШАГОВ К&nbsp;НЕЗАБЫВАЕМОМУ ТОРЖЕСТВУ
                .landing-steps__list.numbered-list
                    .numbered-list__item
                        .numbered-list__number
                            img(src="img/icons/numbers/1.png")
                        .numbered-list__content позвонить и договориться о встрече
                            br
                            a(href="tel:89823112892").text.text_pink.text_size_1 8 982 311 28 92
                    .numbered-list__item
                        .numbered-list__number
                            img(src="img/icons/numbers/2.png")
                        .numbered-list__content знакомство на первой встрече; обсуждение концепции праздника; идеи по проведению торжества; заключение договора
                    .numbered-list__item
                        .numbered-list__number
                            img(src="img/icons/numbers/3.png")
                        .numbered-list__content подготовка к мероприятию; <br> обсуждение ключевых моментов; <br> помощь в организации
                    .numbered-list__item
                        .numbered-list__number
                            img(src="img/icons/numbers/4.png")
                        .numbered-list__content утверждение сценария; выезд на место проведения мероприятия (при необходимости)
                    .numbered-list__item
                        .numbered-list__number
                            img(src="img/icons/numbers/5.png")
                        .numbered-list__content день свадьбы:
                            br
                            | вы отдыхаете
                            br
                            | мы 
                            span.text.text_pink #ДаримСчастливыеМоменты
                .landing-steps__bottom.tac
                    button(type="button", data-link="popup-callback").popup-link.btn.btn_big ОСТАВИТЬ ЗАЯВКУ
        
        .landing-videos
            h3.tac.landing__title ВАМ МАЛО ЭТОЙ ИНФОРМАЦИИ? <br> ТОГДА УЗНАЙТЕ БОЛЬШЕ О НАС, ПОСМОТРЕВ
                br
                span.text.text_white ВИДЕО С НАМИ
            .landing-videos__wrap
                .landing-videos__item
                    iframe(class="youtube-iframe", src="https://www.youtube.com/embed/m5reUH_Dajo", allowfullscreen, frameborder="0").landing-videos__video
                .landing-videos__item
                    iframe(class="youtube-iframe", src="https://www.youtube.com/embed/lSHBq3AAjCk", allowfullscreen, frameborder="0").landing-videos__video
                .landing-videos__item
                    iframe(class="youtube-iframe", src="https://www.youtube.com/embed/0BOkBr8biGI", allowfullscreen, frameborder="0").landing-videos__video
            .landing-videos__bottom.tac
                a(href="https://www.youtube.com/playlist?list=PLdakGrOtjc_ltR44YCoGiBo0LftX8h5BX", target="_blank").btn.btn_big СМОТРЕТЬ ЕЩЕ

        .landing-mosaic
            h3.tac.landing__title НАШИ ФОТО
            .landing-mosaic__row.mosaic
                img(src="/img/landings/collage-02.jpg")
            .landing-mosaic__footer
                a(href="https://vk.com/album-44900459_231340773", target="_blank").link.link_pink ЕЩЕ ФОТО

        .price-promo
            .price-promo__wrap
                .price-promo__inner
                    h3.tac.landing__title НАШИ ЦЕНЫ
                    .price-promo__list
                        .price-promo__item
                            .price-promo__img
                                img(src="/img/landings/price-promo/icon01.jpg")
                            .price-promo__info
                                a(href="#").link.link_pink Econom
                                p 16 000 р.

                        .price-promo__item
                            .price-promo__img
                                img(src="/img/landings/price-promo/icon02.jpg")
                            .price-promo__info
                                a(href="#").link.link_pink Standard
                                p 23 000 р.

                        .price-promo__item
                            .price-promo__img
                                img(src="/img/landings/price-promo/icon03.jpg")
                            .price-promo__info
                                a(href="#").link.link_pink Wedding Battle
                                p 29 000 р.

                        .price-promo__item
                            .price-promo__img
                                img(src="/img/landings/price-promo/icon04.jpg")
                            .price-promo__info
                                a(href="#").link.link_pink Big Show
                                p 45 000 р.

                        .price-promo__item
                            .price-promo__img
                                img(src="/img/landings/price-promo/icon05.jpg")
                            .price-promo__info
                                a(href="#").link.link_pink Live Sound
                                p 60 000 р.

                        .price-promo__item
                            .price-promo__img
                                img(src="/img/landings/price-promo/icon06.jpg")
                            .price-promo__info
                                a(href="#").link.link_pink All Inclusive
                                p 80 000 р.
                    .price-promo__bottom.tac
                        a(href="our-price").btn.btn_big.price-promo__btn ПОДРОБНЕЕ
                        p.price-promo__text НА ПРОВЕДЕНИЕ ЮБИЛЕЕВ 
                            span.text.text_pink ДЕЙСТВУЕТ 
                            | ПРИЯТНАЯ 
                            span.text.text_pink СКИДКА 



        .landing-about
            img(src="/img/leader/info.jpg")
            .landing-about__info.page-layout
                .landing-about__col
                    ul
                        li
                            b Имя: 
                            | Андрей
                        li
                            b Возраст: 
                            | свидетель лихих 90-х
                        li
                            b Рост: 
                            | метр с кепкой
                        li
                            b Вес: 
                            | упитанный, но воспитанный
                        li
                            b Семейное положение: 
                            | от судьбы не убежишь
                        li
                            b Знак зодиака: 
                            | всегда нужно что-то взвешивать
                        li
                            b Жизненная позиция: 
                            | такая же, как знак зодиака
                        li
                            b Интересы: 
                        li - занимается спортом (чаще всего только по ТВ и посредством игровых симуляторов);
                        li - любит танцевать (хорошо, но в одиночестве) и петь (плохо, и все равно в одиночестве);
                        li - предпочитает шумные компании и веселые праздники

                .landing-about__col
                    ul
                        li
                            b Имя: 
                            | Татьяна
                        li
                            b Возраст: 
                            | всегда 18
                        li
                            b Рост: 
                            | два метра без кепки
                        li
                            b Вес: 
                            | модельная внешность
                        li
                            b Семейное положение: 
                            | счастливы вместе
                        li
                            b Знак зодиака: 
                            | ни шагу вперед
                        li
                            b Жизненная позиция: 
                            | противоположная знаку зодиака
                        li
                            b Интересы: 
                        li - делает добрые дела и умиляет окружающих своей бескорыстностью;
                        li - может накормить роту солдат, но все достается мужу;
                        li - активно участвует в проектах «Очумелые ручки» и «Все своими руками» для повышения своего мастерства



        .landing-faq.page-layout
            .landing-faq__title.text.text_white ХОЧЕШЬ ЗАДАТЬ  ВОПРОС АНДРЕЮ И ТАТЬЯНЕ?
            .landing-faq__container
                .landing-faq__text МЫ УЖЕ ПОДГОТОВИЛИ ОТВЕТЫ НА&nbsp;САМЫЕ ПОПУЛЯРНЫЕ ИЗ&nbsp;НИХ!
                .landing-faq__button
                    button(type="button", data-id="faq").btn.toggle-hide-block ВОПРОС-ОТВЕТ

        .leading-faq.page-layout
            .leading-faq-info.hide-block(data-id="faq")
                br
                h4.tac Часто задаваемые вопросы
                p Наши клиенты всегда задают нам много вопросов, как о нашем стиле ведения праздников, так и о личной жизни. Мы решили составить ТОП самых популярных из них и дать ответы, чтобы у Вас было представление, с кем имеете дело:
                ul
                    li
                        h5 А вы женаты?
                        p Да, мы познакомились в далеком 2003 году. Целый год мы присматривались друг к другу, а потом наше общение переросло в высокие чувства, которые называются одним словом – любофффь. Семь долгих лет мы встречались, проверяли свои отношения и в 2011 году, наконец, связали себя узами брака! Теперь мы «счастливы вместе» и желаем всем того же.

                    li
                        h5 Кто главный у вас в дуэте?
                        p И в творческом дуэте, и в семейном тандеме у нас полное равноправие. Все делается сообща, никто не тянет одеяло на себя. На праздниках вдвоем легче вести общение с гостями. Если они и вовсе неактивные, то можно и между собой поболтать:)

                    li
                        h5 Играли ли вы в КВН?
                        p Так случилось, что официально мы не были участниками ни одной команды КВН. Это одно из отличий от многих ведущих, которые после КВНовской карьеры пробуют себя в работе ведущего мероприятий. Мы же пошли другим путем: сохранили свои организаторские и актерские данные и теперь радуем клиентов и гостей нетривиальным, уместным юмором и хорошей импровизацией :)

                    li
                        h5 Пишете ли вы сценарии и можно ли изменить что-нибудь в них?
                        p На каждое мероприятие (без исключений) составляется свой собственный уникальный сценарий. Да, безусловно, может повторяться порядок проведения или некоторые конкурсы, но все будет составлено исключительно по желанию заказчика! Каждый раз нам интересно придумывать что-нибудь новое, необычное. Хотите, чтобы на Вашем мероприятии было много сюрпризов и неожиданностей? Пожалуйста! Мы не расскажем Вам обо всех особенностях, а сохраним это в тайне. Или хотите, чтобы праздник начался с выноса торта? Без проблем! Словом, нет ничего невозможно – все Ваши желания будут исполнены!

                    li
                        h5 Есть ли у вас конкурсы, в которых оголяются гости и танцуют стриптиз?
                        p Конкурсы есть, но мы их не проводим. В зале могут быть дети! Да и наша психика уже изрядно «расшатана», чтобы лицезреть такие представления:) Хотя за отдельную плату мы готовы провести такое действие. Примерная стоимость 1,5 тыс.$. А еще лучше: пригласите профессиональных танцовщиков – это будет и дешевле, и красивее!


                    li
                        h5 Заключаете ли вы договор?
                        p Безусловно! В договоре будут прописаны основные моменты нашего сотрудничества и предоставляемые услуги. Для нас это уверенность, что мы с Вами нашли общий язык и теперь можем приступать к совместной подготовке к Вашему мероприятию. Для Вас - гарантия того, что праздник в надежных руках, и Вы с легкостью можете приступать к другим этапам подготовки.

                    li
                        h5 Кто отвечает за музыкальное сопровождение?
                        p Дома за музыкальное настроение семьи и соседей отвечает Андрей. Причем необязательно, что соседи хотят слушать эту музыку:) В семейном автомобиле также Татьяне запрещено прикасаться к магнитоле. А вот на мероприятиях пожалуйста! Правда, там есть третий человек - наш звукорежиссер Алексей. И вот уже он не разрешает ни Андрею, ни Татьяне вмешиваться в свою работу, т.к является главным по музыкальному сопровождению на наших мероприятиях:)

                    li
                        h5 Включаете ли вы в танцевальных паузах песни Верки Сердючки и Стаса Михайлова?
                        p Конечно! Безусловно! Без этого никуда! Но только по желанию заказчика или гостей:) Все музыкальные предпочтения клиента мы обговариваем заранее. И если нам поручено ни при каких обстоятельствах не ставить ту или иную мелодию, то охрана сработает вовремя и уведет от диджейского пульта «попрошаек». Если же Вам крайне важно услышать на своем празднике песни Гуфа или Rammstein – будет исполнено! Но придется уговорить еще нашего ди джея:) Ну и без Грибов никуда! Слышали такую поговорку: если Грибов на свадьбе не включали, значит, брак не считается:)

                    li
                        h5 Играете ли вы на музыкальных инструментах, поете, танцуете?
                        p Наши возможности безграничны. Мы можем сыграть на любых музыкальных инструментах: гитара, скрипка, баян, флейта, тромбон и даже нервы – все нам по плечу! Правда, делаем мы это непрофессионально и вопиюще плохо. Также дело обстоит и с вокальными данными: спеть можем, но вряд ли это кому-то понравится:) А вот станцевать – это всегда пожалуйста! Наши танцевальные движения, похожие на конвульсии, безусловно, придадут Вашему торжеству обилие самых разных впечатлений:)

                    li
                        h5 Что еще вы можете?
                        p Мы можем все! По крайней мере, любые Ваши пожелания, даже самые необычные, мы всегда рады обсудить. Поэтому звоните и мы обязательно найдем общий язык! Всем прекрасного настроения и удачной подготовки к празднику!

        br
        .review-block.page-layout
            h3.ta-c Отзывы наших клиентов
            .review-slider.slider
                .review-speaker(data-id="01")
                    img(src="/img/review/01.jpg", alt="").review-avatar
                    h4.review-title Екатерина

                .review-speaker(data-id="03")
                    img(src="/img/review/05.jpg", alt="").review-avatar
                    h4.review-title Наталья

                .review-speaker(data-id="04")
                    img(src="/img/review/03.jpg", alt="").review-avatar
                    h4.review-title Ксения

                .review-speaker(data-id="05")
                    img(src="/img/review/04.jpg", alt="").review-avatar
                    h4.review-title Максим

                .review-speaker(data-id="06")
                    img(src="/img/review/1.jpg", alt="").review-avatar
                    h4.review-title Евгений и Оксана

                .review-speaker(data-id="07")
                    img(src="/img/review/2.jpg", alt="").review-avatar
                    h4.review-title Павел и Наталья

                .review-speaker(data-id="08")
                    img(src="/img/review/3.jpg", alt="").review-avatar
                    h4.review-title Сергей и Полина

                .review-speaker(data-id="09")
                    img(src="/img/review/4.jpg", alt="").review-avatar
                    h4.review-title Юлия, организатор Open Epil 2016

                .review-speaker(data-id="10")
                    img(src="/img/review/5.jpg", alt="").review-avatar
                    h4.review-title Андрей и Елена

                .review-speaker(data-id="11")
                    img(src="/img/review/6.jpg", alt="").review-avatar
                    h4.review-title Константин и Анжелика

                .review-speaker(data-id="12")
                    img(src="/img/review/7.jpg", alt="").review-avatar
                    h4.review-title Михаил и Мария

                .review-speaker(data-id="13")
                    img(src="/img/review/8.jpg", alt="").review-avatar
                    h4.review-title Ольга

                .review-speaker(data-id="14")
                    img(src="/img/review/9.jpg", alt="").review-avatar
                    h4.review-title Роман и Александра

                .review-speaker(data-id="15")
                    img(src="/img/review/10.jpg", alt="").review-avatar
                    h4.review-title Михаил и Анастасия
            .review-text-block
                p(data-id="01").review-text Самые креативные ребята! Спасибо за&nbsp;потрясающее и&nbsp;незабываемое проведение нашего торжества! Вы&nbsp;–&nbsp;суперские!
                p(data-id="03").review-text Дорогие друзья! Все в&nbsp;восторге от&nbsp;свадьбы, и огромную роль, конечно же, сыграли Андрей&nbsp;и&nbsp;Танюша! Вы - молодые, милые, внимательные, а&nbsp;главное - вы в&nbsp;теме.Я безумно рада знакомству с&nbsp;вами и&nbsp;даже не&nbsp;думала, что вы произведете на меня настолько хорошее впечатление! Друзья, всем советую Андрея&nbsp;и&nbsp;Таню.
                p(data-id="04").review-text Нам понравилось все. Спасибо огромное! Было и весело и интересно. И&nbsp;даже в&nbsp;непредсказуемые моменты, вы&nbsp;могли найти выход!
                p(data-id="05").review-text Ребята! Мы хотим сказать огромное спасибо! Вы классные!!! Вечер был просто потрясающим! Когда мы приехали уставшие с прогулки,  думали, что вечер будет потерян... Но когда увидели вас и ваш настрой, мы сразу оживились и появились силы! Мы вас любим!!! Вы круто все провели! Спасибо!!!
                p(data-id="06").review-text Ребята вы супер! Спасибо за проведение нашей свадьбы, все было замечательно!
                p(data-id="07").review-text Андрей! Спасибо вам огромное!!! Все было просто СУПЕР!!! Всем очень понравилось! Необычно, креативно и не по "шаблону")) Пара у вас идеальная) очень подходите друг другу)) Процветания вам в вашей работе!!!
                p(data-id="08").review-text Спасибо большое этой прекрасной паре Андрейю и Татьяне за проведение нашей свадьбы! Прекрасные, креативные ведущие! Мы были в восторге, все гости тоже. Нам все очень понравилось, даже мамы были довольны)) Никакой пошлости, заезженных шуток и конкурсов, все самое интересное только на свадьбе с Андреем и Татьяной!
                p(data-id="09").review-text Хочу поблагодарить Андрея и Татьяну за проведение нашего мероприятия - Независимого Чемпионата Профессиональной Эпиляции Open Epil 2016, который проходил 28 мая в Челябинске. Со стороны организатора чемпионата, мне кажется, что провести такое мероприятие довольно сложно в эмоциональном плане, хотя может я ошибаюсь... Ведь профессионалам все по плечу) Чемпионат это накал страстей, волнения участников, эмоции зашкаливают, все хотят победить, ну или почти все. И так важно при этом поддержать атмосферу позитива и тепла! Ребята справились с этим на 100%! Спасибо Вам огромное!
                p(data-id="10").review-text Хотите, что бы ваш праздник запомнился вам до глубоких седин? Значит эта восхитительная пара для вас!!! Умопомрачительные конкурсы, внимание каждому гостю, сюрпризы...короче ФЕЕРИЯ!!!))) Всё интеллигентно, весело и красиво!!! Андрей, Татьяна, громадное спасибо за прекрасный праздник, некоторые гости всё ещё под впечатлением от Вас!!!))))
                p(data-id="11").review-text Долго выбирали ведущего на свадьбу, хотели чтобы свадьба прошла позитивно и легко, но без двусмысленных шуток, приколов, которые могут испортить настроение гостям. Андрей с Татьяной понравились сразу, чувствовалась уверенность что ребята действительно могут сделать отличный праздник)) В процессе подготовки к торжеству мы постоянно контактировали с Андреем по вопросам свадебной программы, было приятно, что наши предложения не оставались без внимания, а активно обсуждались и часть их попала в основную программу) На свадьбе было много интересных и веселых конкурсов а также ведущим помогал диджей, с кучей классной танцевальной музыки!) Андрей и Татьяна, огромное спасибо за превосходно проведенную свадьбу! Сейчас осталось мало таких как вы — честно и с самоотдачей делающих свою работу — дарить людям истинный праздник)))
                p(data-id="12").review-text С прекрасной парой ведущих, мы познакомились еще год назад, когда были в качестве гостей на свадьбе! и уже тогда мы поняли, что именно Андрей и Татьяна буду ведущими на нашей свадьбе! У ребят очень современный и креативный подход к ведению праздника! За свою свадьбу мы даже не переживали, потому что мы знали, что все будет СУПЕР! Ребят, ОГРОМНОЕ ВАМ СПАСИБО!!! ВЫ профессионалы своего дела, ВЫ сделали наш праздник незабываемым! МЫ очень Вам, благодарны!!! Все наши гости все еще вспоминают, как было здорово!!! Если Ведущие, ТО ТОЛЬКО АНДРЕЙ И ТАТЬЯНА
                p(data-id="13").review-text Ребята, вы просто СУПЕРРРР!!! Нас приятно удивил высокий уровень мероприятия, превосходное чувство юмора ведущих, интересные конкурсы и захватывающие номера. Спасибо вам, что помогли сотрудникам нашей компании по-настоящему расслабиться и окунуться в праздничную атмосферу!
                p(data-id="14").review-text Ребята просто молодцы! Каждый раз жду от них нового видео представления, и с каждым разом понимаю, что они просто МЕГА КРУТЫЕ. Столько в них эмоций, счастья и адреналина в крови, каждый раз придумывая все интереснее и интереснее программу. И выбирая ведущих на свадьбу или другое важное событие для вас и ваших близких вы не прогадаете, если выберите их))) Каждый день вспоминаю свою свадьбу и благодарна за такие приятные и запоминающиеся моменты, в восторге были ВСЕ) Вдвойне приятнее видеть в новых роликах, моменты своей свадьбы))) С ними очень приятно работать, они нашли подход ко всем гостям, скучно не было НИКОМУ))))
                p(data-id="15").review-text Танечка и Андрей) Спасибо вам за проведение чудесной свадьбы) Вы сделали наш день ещё прекрасней))) все гости и мы в том числе были в восторге) Всем очень советуем крутых ведущих!


        br
        .landing-send-us.page-layout
            p ОСТАЛИСЬ ВОПРОСЫ?
            p.landing-send-us__text-block
                span.text.text_pink.landing-send-us__big-text ЗВОНИТЕ ПРЯМО СЕЙЧАС
                a(href="tel:89823112892").landing-send-us__phone 8 982 311 28 92
            .landing-send-us__bottom
                p ИЛИ НАПИШИТЕ НАМ <br> В ЛИЧНЫЕ СООБЩЕНИЯ
                button(type="button", data-link="popup-mail").btn.btn_big.popup-link ОТПРАВИТЬ СООБЩЕНИЕ
        br
        .page-layout
            h3
                a(href="#first", onclick="showHide('first');").dashed-link
                    span Профессиональный ведущий на свадьбу
            div(id="first", style="display:none")
                p Свадьба – это особое мероприятие, которое должно остаться в памяти новобрачных и их окружения на всю жизнь. Соответствующей должна быть и организация такого праздника - ведущий на свадьбу потребуется в обязательном порядке. Ведь именно он сможет организовать гостей, исключить множество неприятностей, создать именно ту обстановку, которая окажется наиболее подходящей и приятной для всех. Среди задач, которые решает данный специалист, стоит отметить в первую очередь такие:
                ul.ul
                    li Вовлечение в активное празднование всех присутствующих,
                    li Проведение свадьбы по всем правилам и традициям, 
                    li Исключение нештатных ситуаций.
                p От 
                    a(href='/weddingbattle.php', title='тамада челябинск') тамады
                    |  зависит многое, и потому свадебные ведущие в Челябинске, которые оказывают свои услуги по-настоящему профессионально, всегда оказываются востребованными, и их приглашают на все крупные торжества. Ведь профессионально организованная свадьба действительно оставит у всех приятные впечатления на много лет, запомнится, а еще она станет поводом для гордости брачующихся и их родственников, позволит выделиться перед окружающими. Грамотно и ярко проведенный праздник – это не просто приятная, это статусная вещь.
                p Помощь – необходима!
                p Давно прошли те времена, когда свадьбы проводились своими силами – сегодня свадебный ведущий приглашается на любую из них. Ведь на самих виновников торжества и их окружение и без того ложится масса хлопот по организации мероприятия, и к праздничному дню они порой остаются без сил, и сами хотели бы отдохнуть. И это вполне закономерно, ведь главное внимание и все условия для приятного отдыха, веселья должны быть в первую очередь у самих виновников, а если они будут включаться во все заботы, свадьба так и запомнится им одним из самых тяжелых дней в жизни.
                p Услуги тамады позволяют исключить все эти заботы и переживания, и просто наслаждаться праздником, проработанным по индивидуальной программе, согласно вкусам и предпочтениям заказчиков. Профессионал в любом случае подойдет к вопросу креативно, а если в этом будет необходимость – подкорректирует сценарий по ходу событий. С опытным и грамотным тамадой все гости получат свою долю внимания и приятных впечатлений, а любые проблемные моменты и взаимные непонимания будут исключены. Праздник пройдет весело и без хлопот, став важнейшей вехой в начале счастливой семейной жизни любящей пары, и никто не почувствует себя обделенным или уставшим.
                