mixin landing-about()
    .landing-about
        img(src="/img/leader/info.jpg")
        .landing-about__info.page-layout
            .landing-about__col
                ul
                    li
                        b Имя: 
                        | Андрей
                    li
                        b Возраст: 
                        | свидетель лихих 90-х
                    li
                        b Рост: 
                        | метр с кепкой
                    li
                        b Вес: 
                        | упитанный, но воспитанный
                    li
                        b Семейное положение: 
                        | от судьбы не убежишь
                    li
                        b Знак зодиака: 
                        | всегда нужно что-то взвешивать
                    li
                        b Жизненная позиция: 
                        | такая же, как знак зодиака
                    li
                        b Интересы: 
                    li - занимается спортом (чаще всего только по ТВ и посредством игровых симуляторов);
                    li - любит танцевать (хорошо, но в одиночестве) и петь (плохо, и все равно в одиночестве);
                    li - предпочитает шумные компании и веселые праздники

            .landing-about__col
                ul
                    li
                        b Имя: 
                        | Татьяна
                    li
                        b Возраст: 
                        | всегда 18
                    li
                        b Рост: 
                        | два метра без кепки
                    li
                        b Вес: 
                        | модельная внешность
                    li
                        b Семейное положение: 
                        | счастливы вместе
                    li
                        b Знак зодиака: 
                        | ни шагу вперед
                    li
                        b Жизненная позиция: 
                        | противоположная знаку зодиака
                    li
                        b Интересы: 
                    li - делает добрые дела и умиляет окружающих своей бескорыстностью;
                    li - может накормить роту солдат, но все достается мужу;
                    li - активно участвует в проектах «Очумелые ручки» и «Все своими руками» для повышения своего мастерства
mixin landing-faq()
    .landing-faq.page-layout
        .landing-faq__title.text.text_white ХОЧЕШЬ ЗАДАТЬ  ВОПРОС АНДРЕЮ И ТАТЬЯНЕ?
        .landing-faq__container
            .landing-faq__text МЫ УЖЕ ПОДГОТОВИЛИ ОТВЕТЫ НА&nbsp;САМЫЕ ПОПУЛЯРНЫЕ ИЗ&nbsp;НИХ!
            .landing-faq__button
                button(type="button", data-id="faq").btn.toggle-hide-block ВОПРОС-ОТВЕТ
    
    .leading-faq.page-layout
        .leading-faq-info.hide-block(data-id="faq")
            br
            h4.tac Часто задаваемые вопросы
            p Наши клиенты всегда задают нам много вопросов, как о нашем стиле ведения праздников, так и о личной жизни. Мы решили составить ТОП самых популярных из них и дать ответы, чтобы у Вас было представление, с кем имеете дело:
            ul
                li
                    h5 А вы женаты?
                    p Да, мы познакомились в далеком 2003 году. Целый год мы присматривались друг к другу, а потом наше общение переросло в высокие чувства, которые называются одним словом – любофффь. Семь долгих лет мы встречались, проверяли свои отношения и в 2011 году, наконец, связали себя узами брака! Теперь мы «счастливы вместе» и желаем всем того же.
    
                li
                    h5 Кто главный у вас в дуэте?
                    p И в творческом дуэте, и в семейном тандеме у нас полное равноправие. Все делается сообща, никто не тянет одеяло на себя. На праздниках вдвоем легче вести общение с гостями. Если они и вовсе неактивные, то можно и между собой поболтать:)
    
                li
                    h5 Играли ли вы в КВН?
                    p Так случилось, что официально мы не были участниками ни одной команды КВН. Это одно из отличий от многих ведущих, которые после КВНовской карьеры пробуют себя в работе ведущего мероприятий. Мы же пошли другим путем: сохранили свои организаторские и актерские данные и теперь радуем клиентов и гостей нетривиальным, уместным юмором и хорошей импровизацией :)
    
                li
                    h5 Пишете ли вы сценарии и можно ли изменить что-нибудь в них?
                    p На каждое мероприятие (без исключений) составляется свой собственный уникальный сценарий. Да, безусловно, может повторяться порядок проведения или некоторые конкурсы, но все будет составлено исключительно по желанию заказчика! Каждый раз нам интересно придумывать что-нибудь новое, необычное. Хотите, чтобы на Вашем мероприятии было много сюрпризов и неожиданностей? Пожалуйста! Мы не расскажем Вам обо всех особенностях, а сохраним это в тайне. Или хотите, чтобы праздник начался с выноса торта? Без проблем! Словом, нет ничего невозможно – все Ваши желания будут исполнены!
    
                li
                    h5 Есть ли у вас конкурсы, в которых оголяются гости и танцуют стриптиз?
                    p Конкурсы есть, но мы их не проводим. В зале могут быть дети! Да и наша психика уже изрядно «расшатана», чтобы лицезреть такие представления:) Хотя за отдельную плату мы готовы провести такое действие. Примерная стоимость 1,5 тыс.$. А еще лучше: пригласите профессиональных танцовщиков – это будет и дешевле, и красивее!
    
    
                li
                    h5 Заключаете ли вы договор?
                    p Безусловно! В договоре будут прописаны основные моменты нашего сотрудничества и предоставляемые услуги. Для нас это уверенность, что мы с Вами нашли общий язык и теперь можем приступать к совместной подготовке к Вашему мероприятию. Для Вас - гарантия того, что праздник в надежных руках, и Вы с легкостью можете приступать к другим этапам подготовки.
    
                li
                    h5 Кто отвечает за музыкальное сопровождение?
                    p Дома за музыкальное настроение семьи и соседей отвечает Андрей. Причем необязательно, что соседи хотят слушать эту музыку:) В семейном автомобиле также Татьяне запрещено прикасаться к магнитоле. А вот на мероприятиях пожалуйста! Правда, там есть третий человек - наш звукорежиссер Алексей. И вот уже он не разрешает ни Андрею, ни Татьяне вмешиваться в свою работу, т.к является главным по музыкальному сопровождению на наших мероприятиях:)
    
                li
                    h5 Включаете ли вы в танцевальных паузах песни Верки Сердючки и Стаса Михайлова?
                    p Конечно! Безусловно! Без этого никуда! Но только по желанию заказчика или гостей:) Все музыкальные предпочтения клиента мы обговариваем заранее. И если нам поручено ни при каких обстоятельствах не ставить ту или иную мелодию, то охрана сработает вовремя и уведет от диджейского пульта «попрошаек». Если же Вам крайне важно услышать на своем празднике песни Гуфа или Rammstein – будет исполнено! Но придется уговорить еще нашего ди джея:) Ну и без Грибов никуда! Слышали такую поговорку: если Грибов на свадьбе не включали, значит, брак не считается:)
    
                li
                    h5 Играете ли вы на музыкальных инструментах, поете, танцуете?
                    p Наши возможности безграничны. Мы можем сыграть на любых музыкальных инструментах: гитара, скрипка, баян, флейта, тромбон и даже нервы – все нам по плечу! Правда, делаем мы это непрофессионально и вопиюще плохо. Также дело обстоит и с вокальными данными: спеть можем, но вряд ли это кому-то понравится:) А вот станцевать – это всегда пожалуйста! Наши танцевальные движения, похожие на конвульсии, безусловно, придадут Вашему торжеству обилие самых разных впечатлений:)
    
                li
                    h5 Что еще вы можете?
                    p Мы можем все! По крайней мере, любые Ваши пожелания, даже самые необычные, мы всегда рады обсудить. Поэтому звоните и мы обязательно найдем общий язык! Всем прекрасного настроения и удачной подготовки к празднику!

mixin landing-mosaic(imgSrc)
    .landing-mosaic
        h3.tac.landing__title НАШИ ФОТО
        .landing-mosaic__row.mosaic
            img(src=imgSrc)
        .landing-mosaic__footer
            a(href="https://vk.com/album-44900459_231340773", target="_blank").link.link_pink ЕЩЕ ФОТО
   
mixin landing-steps()
    .landing-steps
        .landing-steps__inner
            .landing-steps__title ПЯТЬ ШАГОВ К&nbsp;НЕЗАБЫВАЕМОМУ ТОРЖЕСТВУ
            .landing-steps__list.numbered-list
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/1.png")
                    .numbered-list__content позвонить и договориться о встрече
                        br
                        a(href="tel:89823112892").text.text_pink.text_size_1 8 982 311 28 92
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/2.png")
                    .numbered-list__content знакомство на первой встрече; обсуждение концепции праздника; идеи по проведению торжества; заключение договора
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/3.png")
                    .numbered-list__content подготовка к мероприятию; <br> обсуждение ключевых моментов; <br> помощь в организации
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/4.png")
                    .numbered-list__content утверждение сценария; выезд на место проведения мероприятия (при необходимости)
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/5.png")
                    .numbered-list__content день свадьбы:
                        br
                        | вы отдыхаете
                        br
                        | мы 
                        span.text.text_pink #ДаримСчастливыеМоменты
            .landing-steps__bottom.tac
                button(type="button", data-link="popup-callback").popup-link.btn.btn_big ОСТАВИТЬ ЗАЯВКУ
mixin landing-videos()
    .landing-videos
        h3.tac.landing__title ВАМ МАЛО ЭТОЙ ИНФОРМАЦИИ? <br> ТОГДА УЗНАЙТЕ БОЛЬШЕ О НАС, ПОСМОТРЕВ
            br
            span.text.text_white ВИДЕО С НАМИ
        .landing-videos__wrap
            .landing-videos__item
                iframe(class="youtube-iframe", src="https://www.youtube.com/embed/m5reUH_Dajo", allowfullscreen, frameborder="0").landing-videos__video
            .landing-videos__item
                iframe(class="youtube-iframe", src="https://www.youtube.com/embed/lSHBq3AAjCk", allowfullscreen, frameborder="0").landing-videos__video
            .landing-videos__item
                iframe(class="youtube-iframe", src="https://www.youtube.com/embed/0BOkBr8biGI", allowfullscreen, frameborder="0").landing-videos__video
        .landing-videos__bottom.tac
            a(href="https://www.youtube.com/playlist?list=PLdakGrOtjc_ltR44YCoGiBo0LftX8h5BX", target="_blank").btn.btn_big СМОТРЕТЬ ЕЩЕ

mixin landing()
    .landing
mixin price-promo()
    .price-promo
        .price-promo__wrap
            .price-promo__inner
                h3.tac.landing__title НАШИ ЦЕНЫ
                .price-promo__list
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon01.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Econom
                            p 16 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon02.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Standard
                            p 23 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon03.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Wedding Battle
                            p 29 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon04.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Big Show
                            p 45 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon05.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Live Sound
                            p 60 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon06.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink All Inclusive
                            p 80 000 р.
                .price-promo__bottom.tac
                    a(href="our-price").btn.btn_big.price-promo__btn ПОДРОБНЕЕ
                    p.price-promo__text НА ПРОВЕДЕНИЕ ЮБИЛЕЕВ 
                        span.text.text_pink ДЕЙСТВУЕТ 
                        | ПРИЯТНАЯ 
                        span.text.text_pink СКИДКА 

mixin main-footer()
    //popups
    .popup__overlay.popup-callback
        .popup
            a.popup__close(href='') X
            h4 Заказать обратный звонок
            p
                | Мы можем перезвонить в удобное для Вас время
                br
                |  и дать консультацию по любому вопросу!
            form#form.popup-form(data-type='Форма обратного звонка в шапке сайта')
                .form-preloader
                input.f-name(type='text', placeholder='Введите ваше имя', name='Имя')
                input.f-phone(type='text', placeholder='Введите ваш телефон', name='Телефон')
                input.f-mail(type='text', placeholder='Адрес электронной почты', name='Почта')
                input.f-time(type='text', placeholder='Время удобное для звонка', name='Время для звонка')
                button.popup-callback-btn.button Отправить
                .form-message(style='display: none;')

    .popup__overlay.popup-mail
        .popup
            a(href="#").popup__close X
            h4 Напишите нам!
            p У вас есть вопросы? Мы с радостью ответим на них!
            form(id="form", data-type="Форма напишите мне в шапке сайта").popup-form
                .form-preloader
                input(type="text", placeholder="Введите ваше имя", name="Имя", required, minlength="1").f-name
                input(type="text", placeholder="Адрес электронной почты", name="Почта").f-mail
                textarea(type="text" placeholder="Текст сообщения" name="Текст сообщения").f-text
                button.popup-mailme-btn.button Отправить
                div.form-message
    p#back-top
        a(href='#top')
            img(src='/img/up-arrow.png', alt='', width='50px', height='50px')
            |         Вверх

    //footer
    footer.main-footer.page-layout
        .main-footer__left
            h6
                | Свадебное агенство «Академия&nbsp;торжеств»
                br
                | организация свадьбы в&nbspЧелябинске
            h4
                a.phone-link(href='tel:79823112892') +7(982) 311-28-92
        ul.main-footer__links
            li
                a(href='/at') Ведущие
            li
                a(href='/artists') Артисты
            li
                a(href='/auto') Прокат автомобилей
            li
                a(href='/decorate') Оформление праздника
            li
                a(href='/photo') Услуги фотографа/оператора
            li
                a(href='/firework') Праздничный фейерверк
        ul.main-footer__links
            li
                a(href='/places') Рестораны
            li
                a(href='/other_services') Оригинальные услуги
            li
                a(href='/author_services') Авторские услуги
            li
                a(href='/photo_places') Места для фотосессий
            li
                a(href='/style_wedding') Стилизованная свадьба
            li
                a(href='/advice') Советы молодоженам

        .main-footer__right
            .socials.main-footer__socials
                a.socials__link.socials__link_transparent.socials__link_vk(href='https://vk.com/at.event', target='_blank')
                a.socials__link.socials__link_transparent.socials__link_youtube(href='https://www.youtube.com/channel/UC676j7XaxvcC2cYz5Ghf6zA', target='_blank')
                a.socials__link.socials__link_transparent.socials__link_insta(href='https://instagram.com/at.event/', target='_blank')

mixin main-header()
    header.main-header.page-layout
        .main-header__left
            ul
                li
                    a(href='about') О нашем агенстве
                li
                    a.popup-link.dashed(href='#', data-link='popup-callback')
                        | Заказать
                        | обратный звонок
                li
                    a.popup-link.dashed(href='#', data-link='popup-mail') Написать нам
            .main-header__search
                .serach-form.ya-site-form.ya-site-form_inited_no(onclick="return {'action':'/search','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск at-event','suggest':true,'target':'_self','tld':'ru','type':3,'usebigdictionary':true,'searchid':2205509,'webopt':false,'websearch':false,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'Поиск','input_placeholderColor':'#cccccc','input_borderColor':'#ffffff'}")
                    form(action='http://yandex.ru/sitesearch', method='get', target='_self')
                        input(type='hidden', name='searchid', value='2205509')
                        input(type='hidden', name='l10n', value='ru')
                        input(type='hidden', name='reqenc', value='')
                        input(type='search', name='text', value='')
                    
        .main-header__center
            a(href='/')
                img(src='./img/logo-name-pink.png')
            h5 Свадебное агенство
            
        .main-header__right
            h4
                a.phone-link(href='tel:79823112892') +7 (982) 311-28-92
            h6 г. Челябинск, ул. Бейвеля, 27
            .main-header__socials.socials
                a.socials__link.socials__link_vk(href='https://vk.com/at.event', target='_blank')
                a.socials__link.socials__link_youtube(href='https://www.youtube.com/channel/UC676j7XaxvcC2cYz5Ghf6zA', target='_blank')
                a.socials__link.socials__link_insta(href='https://instagram.com/at.event/', target='_blank')
    
mixin main-nav()
    span.mobile_menu.mobile_menu_first.showAllMenu Показать меню
    nav.main-nav.page-layout
        ul.main-nav__inner
            li.main-nav__item
                a.main-nav__link(href='/at')
                    span.main-nav__image.main-menu-lead
                    span Ведущие
            li.main-nav__item
                a.main-nav__link(href='/artists')
                    span.main-nav__image.main-menu-artists
                    span Артисты
            li.main-nav__item
                a.main-nav__link(href='/auto')
                    span.main-nav__image.main-menu-auto
                    span Автомобили
            li.main-nav__item
                a.main-nav__link(href='/decorate')
                    span.main-nav__image.main-menu-decorate
                    span Оформление
            li.main-nav__item
                a.main-nav__link(href='/photographs')
                    span.main-nav__image.main-menu-photo
                    span Фото/видео
            li.main-nav__item
                a.main-nav__link(href='/cakes')
                    span.main-nav__image.main-menu-cakes
                    span Торты
            li.main-nav__item
                a.main-nav__link(href='/places')
                    span.main-nav__image.main-menu-restaraunts
                    span Рестораны
            li.main-nav__item
                a.main-nav__link(href='/other_services')
                    span.main-nav__image.main-menu-another
                    span Другие услуги
    
mixin review-block()
    .review-block.page-layout
        h3.ta-c Отзывы наших клиентов
        .review-slider.slider
            .review-speaker(data-id="01")
                img(src="/img/review/01.jpg", alt="").review-avatar
                h4.review-title Екатерина

            .review-speaker(data-id="03")
                img(src="/img/review/05.jpg", alt="").review-avatar
                h4.review-title Наталья

            .review-speaker(data-id="04")
                img(src="/img/review/03.jpg", alt="").review-avatar
                h4.review-title Ксения

            .review-speaker(data-id="05")
                img(src="/img/review/04.jpg", alt="").review-avatar
                h4.review-title Максим

            .review-speaker(data-id="06")
                img(src="/img/review/1.jpg", alt="").review-avatar
                h4.review-title Евгений и Оксана

            .review-speaker(data-id="07")
                img(src="/img/review/2.jpg", alt="").review-avatar
                h4.review-title Павел и Наталья

            .review-speaker(data-id="08")
                img(src="/img/review/3.jpg", alt="").review-avatar
                h4.review-title Сергей и Полина

            .review-speaker(data-id="09")
                img(src="/img/review/4.jpg", alt="").review-avatar
                h4.review-title Юлия, организатор Open Epil 2016

            .review-speaker(data-id="10")
                img(src="/img/review/5.jpg", alt="").review-avatar
                h4.review-title Андрей и Елена

            .review-speaker(data-id="11")
                img(src="/img/review/6.jpg", alt="").review-avatar
                h4.review-title Константин и Анжелика

            .review-speaker(data-id="12")
                img(src="/img/review/7.jpg", alt="").review-avatar
                h4.review-title Михаил и Мария

            .review-speaker(data-id="13")
                img(src="/img/review/8.jpg", alt="").review-avatar
                h4.review-title Ольга

            .review-speaker(data-id="14")
                img(src="/img/review/9.jpg", alt="").review-avatar
                h4.review-title Роман и Александра

            .review-speaker(data-id="15")
                img(src="/img/review/10.jpg", alt="").review-avatar
                h4.review-title Михаил и Анастасия
        .review-text-block
            p(data-id="01").review-text Самые креативные ребята! Спасибо за&nbsp;потрясающее и&nbsp;незабываемое проведение нашего торжества! Вы&nbsp;–&nbsp;суперские!
            p(data-id="03").review-text Дорогие друзья! Все в&nbsp;восторге от&nbsp;свадьбы, и огромную роль, конечно же, сыграли Андрей&nbsp;и&nbsp;Танюша! Вы - молодые, милые, внимательные, а&nbsp;главное - вы в&nbsp;теме.Я безумно рада знакомству с&nbsp;вами и&nbsp;даже не&nbsp;думала, что вы произведете на меня настолько хорошее впечатление! Друзья, всем советую Андрея&nbsp;и&nbsp;Таню.
            p(data-id="04").review-text Нам понравилось все. Спасибо огромное! Было и весело и интересно. И&nbsp;даже в&nbsp;непредсказуемые моменты, вы&nbsp;могли найти выход!
            p(data-id="05").review-text Ребята! Мы хотим сказать огромное спасибо! Вы классные!!! Вечер был просто потрясающим! Когда мы приехали уставшие с прогулки,  думали, что вечер будет потерян... Но когда увидели вас и ваш настрой, мы сразу оживились и появились силы! Мы вас любим!!! Вы круто все провели! Спасибо!!!
            p(data-id="06").review-text Ребята вы супер! Спасибо за проведение нашей свадьбы, все было замечательно!
            p(data-id="07").review-text Андрей! Спасибо вам огромное!!! Все было просто СУПЕР!!! Всем очень понравилось! Необычно, креативно и не по "шаблону")) Пара у вас идеальная) очень подходите друг другу)) Процветания вам в вашей работе!!!
            p(data-id="08").review-text Спасибо большое этой прекрасной паре Андрейю и Татьяне за проведение нашей свадьбы! Прекрасные, креативные ведущие! Мы были в восторге, все гости тоже. Нам все очень понравилось, даже мамы были довольны)) Никакой пошлости, заезженных шуток и конкурсов, все самое интересное только на свадьбе с Андреем и Татьяной!
            p(data-id="09").review-text Хочу поблагодарить Андрея и Татьяну за проведение нашего мероприятия - Независимого Чемпионата Профессиональной Эпиляции Open Epil 2016, который проходил 28 мая в Челябинске. Со стороны организатора чемпионата, мне кажется, что провести такое мероприятие довольно сложно в эмоциональном плане, хотя может я ошибаюсь... Ведь профессионалам все по плечу) Чемпионат это накал страстей, волнения участников, эмоции зашкаливают, все хотят победить, ну или почти все. И так важно при этом поддержать атмосферу позитива и тепла! Ребята справились с этим на 100%! Спасибо Вам огромное!
            p(data-id="10").review-text Хотите, что бы ваш праздник запомнился вам до глубоких седин? Значит эта восхитительная пара для вас!!! Умопомрачительные конкурсы, внимание каждому гостю, сюрпризы...короче ФЕЕРИЯ!!!))) Всё интеллигентно, весело и красиво!!! Андрей, Татьяна, громадное спасибо за прекрасный праздник, некоторые гости всё ещё под впечатлением от Вас!!!))))
            p(data-id="11").review-text Долго выбирали ведущего на свадьбу, хотели чтобы свадьба прошла позитивно и легко, но без двусмысленных шуток, приколов, которые могут испортить настроение гостям. Андрей с Татьяной понравились сразу, чувствовалась уверенность что ребята действительно могут сделать отличный праздник)) В процессе подготовки к торжеству мы постоянно контактировали с Андреем по вопросам свадебной программы, было приятно, что наши предложения не оставались без внимания, а активно обсуждались и часть их попала в основную программу) На свадьбе было много интересных и веселых конкурсов а также ведущим помогал диджей, с кучей классной танцевальной музыки!) Андрей и Татьяна, огромное спасибо за превосходно проведенную свадьбу! Сейчас осталось мало таких как вы — честно и с самоотдачей делающих свою работу — дарить людям истинный праздник)))
            p(data-id="12").review-text С прекрасной парой ведущих, мы познакомились еще год назад, когда были в качестве гостей на свадьбе! и уже тогда мы поняли, что именно Андрей и Татьяна буду ведущими на нашей свадьбе! У ребят очень современный и креативный подход к ведению праздника! За свою свадьбу мы даже не переживали, потому что мы знали, что все будет СУПЕР! Ребят, ОГРОМНОЕ ВАМ СПАСИБО!!! ВЫ профессионалы своего дела, ВЫ сделали наш праздник незабываемым! МЫ очень Вам, благодарны!!! Все наши гости все еще вспоминают, как было здорово!!! Если Ведущие, ТО ТОЛЬКО АНДРЕЙ И ТАТЬЯНА
            p(data-id="13").review-text Ребята, вы просто СУПЕРРРР!!! Нас приятно удивил высокий уровень мероприятия, превосходное чувство юмора ведущих, интересные конкурсы и захватывающие номера. Спасибо вам, что помогли сотрудникам нашей компании по-настоящему расслабиться и окунуться в праздничную атмосферу!
            p(data-id="14").review-text Ребята просто молодцы! Каждый раз жду от них нового видео представления, и с каждым разом понимаю, что они просто МЕГА КРУТЫЕ. Столько в них эмоций, счастья и адреналина в крови, каждый раз придумывая все интереснее и интереснее программу. И выбирая ведущих на свадьбу или другое важное событие для вас и ваших близких вы не прогадаете, если выберите их))) Каждый день вспоминаю свою свадьбу и благодарна за такие приятные и запоминающиеся моменты, в восторге были ВСЕ) Вдвойне приятнее видеть в новых роликах, моменты своей свадьбы))) С ними очень приятно работать, они нашли подход ко всем гостям, скучно не было НИКОМУ))))
            p(data-id="15").review-text Танечка и Андрей) Спасибо вам за проведение чудесной свадьбы) Вы сделали наш день ещё прекрасней))) все гости и мы в том числе были в восторге) Всем очень советуем крутых ведущих!
    
    