mixin landing-steps()
    .landing-steps
        .landing-steps__inner
            .landing-steps__title ПЯТЬ ШАГОВ К&nbsp;НЕЗАБЫВАЕМОМУ ТОРЖЕСТВУ
            .landing-steps__list.numbered-list
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/1.png")
                    .numbered-list__content позвонить и договориться о встрече
                        br
                        a(href="tel:89823112892").text.text_pink.text_size_1 8 982 311 28 92
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/2.png")
                    .numbered-list__content знакомство на первой встрече; обсуждение концепции праздника; идеи по проведению торжества; заключение договора
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/3.png")
                    .numbered-list__content подготовка к мероприятию; <br> обсуждение ключевых моментов; <br> помощь в организации
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/4.png")
                    .numbered-list__content утверждение сценария; выезд на место проведения мероприятия (при необходимости)
                .numbered-list__item
                    .numbered-list__number
                        img(src="img/icons/numbers/5.png")
                    .numbered-list__content день свадьбы:
                        br
                        | вы отдыхаете
                        br
                        | мы 
                        span.text.text_pink #ДаримСчастливыеМоменты
            .landing-steps__bottom.tac
                button(type="button", data-link="popup-callback").popup-link.btn.btn_big ОСТАВИТЬ ЗАЯВКУ