mixin landing-about()
    .landing-about
        img(src="/img/leader/info.jpg")
        .landing-about__info.page-layout
            .landing-about__col
                ul
                    li
                        b Имя: 
                        | Андрей
                    li
                        b Возраст: 
                        | свидетель лихих 90-х
                    li
                        b Рост: 
                        | метр с кепкой
                    li
                        b Вес: 
                        | упитанный, но воспитанный
                    li
                        b Семейное положение: 
                        | от судьбы не убежишь
                    li
                        b Знак зодиака: 
                        | всегда нужно что-то взвешивать
                    li
                        b Жизненная позиция: 
                        | такая же, как знак зодиака
                    li
                        b Интересы: 
                    li - занимается спортом (чаще всего только по ТВ и посредством игровых симуляторов);
                    li - любит танцевать (хорошо, но в одиночестве) и петь (плохо, и все равно в одиночестве);
                    li - предпочитает шумные компании и веселые праздники

            .landing-about__col
                ul
                    li
                        b Имя: 
                        | Татьяна
                    li
                        b Возраст: 
                        | всегда 18
                    li
                        b Рост: 
                        | два метра без кепки
                    li
                        b Вес: 
                        | модельная внешность
                    li
                        b Семейное положение: 
                        | счастливы вместе
                    li
                        b Знак зодиака: 
                        | ни шагу вперед
                    li
                        b Жизненная позиция: 
                        | противоположная знаку зодиака
                    li
                        b Интересы: 
                    li - делает добрые дела и умиляет окружающих своей бескорыстностью;
                    li - может накормить роту солдат, но все достается мужу;
                    li - активно участвует в проектах «Очумелые ручки» и «Все своими руками» для повышения своего мастерства