mixin landing-videos()
    .landing-videos
        h3.tac.landing__title ВАМ МАЛО ЭТОЙ ИНФОРМАЦИИ? <br> ТОГДА УЗНАЙТЕ БОЛЬШЕ О НАС, ПОСМОТРЕВ
            br
            span.text.text_white ВИДЕО С НАМИ
        .landing-videos__wrap
            .landing-videos__item
                iframe(class="youtube-iframe", src="https://www.youtube.com/embed/m5reUH_Dajo", allowfullscreen, frameborder="0").landing-videos__video
            .landing-videos__item
                iframe(class="youtube-iframe", src="https://www.youtube.com/embed/lSHBq3AAjCk", allowfullscreen, frameborder="0").landing-videos__video
            .landing-videos__item
                iframe(class="youtube-iframe", src="https://www.youtube.com/embed/0BOkBr8biGI", allowfullscreen, frameborder="0").landing-videos__video
        .landing-videos__bottom.tac
            a(href="https://www.youtube.com/playlist?list=PLdakGrOtjc_ltR44YCoGiBo0LftX8h5BX", target="_blank").btn.btn_big СМОТРЕТЬ ЕЩЕ
