mixin landing-mosaic(imgSrc)
    .landing-mosaic
        h3.tac.landing__title НАШИ ФОТО
        .landing-mosaic__row.mosaic
            img(src=imgSrc)
        .landing-mosaic__footer
            a(href="https://vk.com/album-44900459_231340773", target="_blank").link.link_pink ЕЩЕ ФОТО
   