mixin price-promo()
    .price-promo
        .price-promo__wrap
            .price-promo__inner
                h3.tac.landing__title НАШИ ЦЕНЫ
                .price-promo__list
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon01.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Econom
                            p 16 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon02.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Standard
                            p 23 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon03.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Wedding Battle
                            p 29 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon04.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Big Show
                            p 45 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon05.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink Live Sound
                            p 60 000 р.
    
                    .price-promo__item
                        .price-promo__img
                            img(src="/img/landings/price-promo/icon06.jpg")
                        .price-promo__info
                            a(href="#").link.link_pink All Inclusive
                            p 80 000 р.
                .price-promo__bottom.tac
                    a(href="our-price").btn.btn_big.price-promo__btn ПОДРОБНЕЕ
                    p.price-promo__text НА ПРОВЕДЕНИЕ ЮБИЛЕЕВ 
                        span.text.text_pink ДЕЙСТВУЕТ 
                        | ПРИЯТНАЯ 
                        span.text.text_pink СКИДКА 
