mixin review-block()
    .review-block.page-layout
        h3.ta-c Отзывы наших клиентов
        .review-slider.slider
            .review-speaker(data-id="01")
                img(src="/img/review/01.jpg", alt="").review-avatar
                h4.review-title Екатерина

            .review-speaker(data-id="03")
                img(src="/img/review/05.jpg", alt="").review-avatar
                h4.review-title Наталья

            .review-speaker(data-id="04")
                img(src="/img/review/03.jpg", alt="").review-avatar
                h4.review-title Ксения

            .review-speaker(data-id="05")
                img(src="/img/review/04.jpg", alt="").review-avatar
                h4.review-title Максим

            .review-speaker(data-id="06")
                img(src="/img/review/1.jpg", alt="").review-avatar
                h4.review-title Евгений и Оксана

            .review-speaker(data-id="07")
                img(src="/img/review/2.jpg", alt="").review-avatar
                h4.review-title Павел и Наталья

            .review-speaker(data-id="08")
                img(src="/img/review/3.jpg", alt="").review-avatar
                h4.review-title Сергей и Полина

            .review-speaker(data-id="09")
                img(src="/img/review/4.jpg", alt="").review-avatar
                h4.review-title Юлия, организатор Open Epil 2016

            .review-speaker(data-id="10")
                img(src="/img/review/5.jpg", alt="").review-avatar
                h4.review-title Андрей и Елена

            .review-speaker(data-id="11")
                img(src="/img/review/6.jpg", alt="").review-avatar
                h4.review-title Константин и Анжелика

            .review-speaker(data-id="12")
                img(src="/img/review/7.jpg", alt="").review-avatar
                h4.review-title Михаил и Мария

            .review-speaker(data-id="13")
                img(src="/img/review/8.jpg", alt="").review-avatar
                h4.review-title Ольга

            .review-speaker(data-id="14")
                img(src="/img/review/9.jpg", alt="").review-avatar
                h4.review-title Роман и Александра

            .review-speaker(data-id="15")
                img(src="/img/review/10.jpg", alt="").review-avatar
                h4.review-title Михаил и Анастасия
        .review-text-block
            p(data-id="01").review-text Самые креативные ребята! Спасибо за&nbsp;потрясающее и&nbsp;незабываемое проведение нашего торжества! Вы&nbsp;–&nbsp;суперские!
            p(data-id="03").review-text Дорогие друзья! Все в&nbsp;восторге от&nbsp;свадьбы, и огромную роль, конечно же, сыграли Андрей&nbsp;и&nbsp;Танюша! Вы - молодые, милые, внимательные, а&nbsp;главное - вы в&nbsp;теме.Я безумно рада знакомству с&nbsp;вами и&nbsp;даже не&nbsp;думала, что вы произведете на меня настолько хорошее впечатление! Друзья, всем советую Андрея&nbsp;и&nbsp;Таню.
            p(data-id="04").review-text Нам понравилось все. Спасибо огромное! Было и весело и интересно. И&nbsp;даже в&nbsp;непредсказуемые моменты, вы&nbsp;могли найти выход!
            p(data-id="05").review-text Ребята! Мы хотим сказать огромное спасибо! Вы классные!!! Вечер был просто потрясающим! Когда мы приехали уставшие с прогулки,  думали, что вечер будет потерян... Но когда увидели вас и ваш настрой, мы сразу оживились и появились силы! Мы вас любим!!! Вы круто все провели! Спасибо!!!
            p(data-id="06").review-text Ребята вы супер! Спасибо за проведение нашей свадьбы, все было замечательно!
            p(data-id="07").review-text Андрей! Спасибо вам огромное!!! Все было просто СУПЕР!!! Всем очень понравилось! Необычно, креативно и не по "шаблону")) Пара у вас идеальная) очень подходите друг другу)) Процветания вам в вашей работе!!!
            p(data-id="08").review-text Спасибо большое этой прекрасной паре Андрейю и Татьяне за проведение нашей свадьбы! Прекрасные, креативные ведущие! Мы были в восторге, все гости тоже. Нам все очень понравилось, даже мамы были довольны)) Никакой пошлости, заезженных шуток и конкурсов, все самое интересное только на свадьбе с Андреем и Татьяной!
            p(data-id="09").review-text Хочу поблагодарить Андрея и Татьяну за проведение нашего мероприятия - Независимого Чемпионата Профессиональной Эпиляции Open Epil 2016, который проходил 28 мая в Челябинске. Со стороны организатора чемпионата, мне кажется, что провести такое мероприятие довольно сложно в эмоциональном плане, хотя может я ошибаюсь... Ведь профессионалам все по плечу) Чемпионат это накал страстей, волнения участников, эмоции зашкаливают, все хотят победить, ну или почти все. И так важно при этом поддержать атмосферу позитива и тепла! Ребята справились с этим на 100%! Спасибо Вам огромное!
            p(data-id="10").review-text Хотите, что бы ваш праздник запомнился вам до глубоких седин? Значит эта восхитительная пара для вас!!! Умопомрачительные конкурсы, внимание каждому гостю, сюрпризы...короче ФЕЕРИЯ!!!))) Всё интеллигентно, весело и красиво!!! Андрей, Татьяна, громадное спасибо за прекрасный праздник, некоторые гости всё ещё под впечатлением от Вас!!!))))
            p(data-id="11").review-text Долго выбирали ведущего на свадьбу, хотели чтобы свадьба прошла позитивно и легко, но без двусмысленных шуток, приколов, которые могут испортить настроение гостям. Андрей с Татьяной понравились сразу, чувствовалась уверенность что ребята действительно могут сделать отличный праздник)) В процессе подготовки к торжеству мы постоянно контактировали с Андреем по вопросам свадебной программы, было приятно, что наши предложения не оставались без внимания, а активно обсуждались и часть их попала в основную программу) На свадьбе было много интересных и веселых конкурсов а также ведущим помогал диджей, с кучей классной танцевальной музыки!) Андрей и Татьяна, огромное спасибо за превосходно проведенную свадьбу! Сейчас осталось мало таких как вы — честно и с самоотдачей делающих свою работу — дарить людям истинный праздник)))
            p(data-id="12").review-text С прекрасной парой ведущих, мы познакомились еще год назад, когда были в качестве гостей на свадьбе! и уже тогда мы поняли, что именно Андрей и Татьяна буду ведущими на нашей свадьбе! У ребят очень современный и креативный подход к ведению праздника! За свою свадьбу мы даже не переживали, потому что мы знали, что все будет СУПЕР! Ребят, ОГРОМНОЕ ВАМ СПАСИБО!!! ВЫ профессионалы своего дела, ВЫ сделали наш праздник незабываемым! МЫ очень Вам, благодарны!!! Все наши гости все еще вспоминают, как было здорово!!! Если Ведущие, ТО ТОЛЬКО АНДРЕЙ И ТАТЬЯНА
            p(data-id="13").review-text Ребята, вы просто СУПЕРРРР!!! Нас приятно удивил высокий уровень мероприятия, превосходное чувство юмора ведущих, интересные конкурсы и захватывающие номера. Спасибо вам, что помогли сотрудникам нашей компании по-настоящему расслабиться и окунуться в праздничную атмосферу!
            p(data-id="14").review-text Ребята просто молодцы! Каждый раз жду от них нового видео представления, и с каждым разом понимаю, что они просто МЕГА КРУТЫЕ. Столько в них эмоций, счастья и адреналина в крови, каждый раз придумывая все интереснее и интереснее программу. И выбирая ведущих на свадьбу или другое важное событие для вас и ваших близких вы не прогадаете, если выберите их))) Каждый день вспоминаю свою свадьбу и благодарна за такие приятные и запоминающиеся моменты, в восторге были ВСЕ) Вдвойне приятнее видеть в новых роликах, моменты своей свадьбы))) С ними очень приятно работать, они нашли подход ко всем гостям, скучно не было НИКОМУ))))
            p(data-id="15").review-text Танечка и Андрей) Спасибо вам за проведение чудесной свадьбы) Вы сделали наш день ещё прекрасней))) все гости и мы в том числе были в восторге) Всем очень советуем крутых ведущих!
    
    